{% extends 'index.html' %}
{% block content %}
<table class='table'>
 <thead class='thead-light'>
   <tr>
     <th scope='col'></th>
     <th scope='col'>address</th>
     <th scope='col'>latitude</th>
     <th scope='col'>longitude</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td>0</td>
     <td>3666 21st St San Francisco CA 94114 USA</td>
     <td>37.75664965</td>
     <td>-122.42940540299549</td>
   </tr>
   <tr>
     <td>1</td>
     <td>175 5th Avenue NYC</td>
     <td>40.741059199999995</td>
     <td>-73.98964162240998</td>
   </tr>
   <tr>
     <td>2</td>
     <td>543 sokak no 6 Ankara Turkiye</td>
     <td>39.8685799</td>
     <td>32.8627558</td>
   </tr>
 </tbody>
</table>
{% endblock content %}